<!--<h1>Greeting</h1>
<div ng-show="authenticated">
    <p>The ID is {{greeting.id}}</p>

    <p>The content is {{greeting.content}}</p>
</div>
<div ng-show="!authenticated">
    <p>Login to see your greeting</p>
</div>

<div id="posts" ng-repeat="post in posts">
    <div class="post">
        <div class="author">{{post.author}}</div>
        <div class="text">{{post.text}}</div>
    </div>
</div>

<uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>-->



<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<!-- Navigation -->
<header class="intro-header" style="background-image: url('app/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Все квартиры Минска</h1>
                    <hr class="small">
                    <span class="subheading">Аггрегатор объявлений</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row" ng-cloak class="ng-cloak">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form>
                <input placeholder="Цена от, $" ng-model="priceStart">
                <input placeholder="до" ng-model="priceEnd">
                <input type="checkbox" class="check-box" ng-model="onlyNearMetro">
                <span>только рядом с метро</span>
            </form>
            <div ng-repeat="flat in flats">
                <div class="post-preview">
                    <a href="{{flat.link}}" target="_blank">
                        <h2 class="post-title">
                            {{flat.address}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{flat.price}}$
                        </h3>
                        <h3 class="post-subtitle">
                            {{flat.description}}
                        </h3>
                        <img src="{{flat.photoLink}}"/>
                    </a>
                    <p class="post-meta"><a href="#">{{flat.source}}</a>, {{flat.parsedDate | date: 'd MMMM yyyy, hh:mm'}}</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager" ng-if="$last">
                    <li ng-if="offset > 0">
                        <a href="" ng-click="prev()">&larr; Раньше</a>
                    </li>
                    <li>
                        <a href="" ng-click="next()">Дальше &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
